<head>
  <meta charset="UTF-8">
  <title>Seja bem vindo(a)!</title>
  <script src="/assets/main.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap">
</head>
<body class="row">
<header class="col-8">
  <div class="container">
    <img src="https://img.freepik.com/vetores-gratis/ilustracao-de-chapeu-graduacao_53876-5920.jpg?w=740&t=st=1686900060~exp=1686900660~hmac=09d89d09f2769f8cf1709f447d93febaa97e20175906d68bf4b292a31b35e2a1" class="capelo" alt="capelo">
    <div class="title"><h1>API SCHOOL</h1></div>
  </div>
</header>
<main class="col-4">
  <%= form_with url: "school/v1/students/create", id: "signup-form" do |f| %>
    <div class="signup">
      <label class="form-label" for="name">Name: </label>
      <%= f.text_field :name, class: "form-control", id: "name", require: true %>

      <label class="form-label" for="email">Email: </label>
      <%= f.email_field :email, class: "form-control", id: "email", require: true %>

      <label class="form-label" for="birthday">Birthday: </label>
      <%= f.date_field :birthday, class: "form-control", id: "birthday", require: true %>

      <label class="form-label" for="password">Password: </label>
      <%= f.password_field :password, class: "form-control", id: "password", require: true %>

      <label class="form-label" for="password_confirmation">Password confirmation: </label>
      <%= f.password_field :password_confirmation, class: "form-control", id: "password_confirmation", require: true %>
    </div>

    <div class="right_colunmm"></div>
    <%= f.submit "Sign Up", class: "button_submit btn btn-primary" %>
    <a href="/index">
      <button type="submit" class="btn btn-primary">I already have an account</button>
    </a>
  <% end %>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.23.0/axios.min.js"></script>
<script src="/assets/main.js"></script>

<footer>
  <div class="baseboard">
    <p>&copy; 2023 ByBeatriz. Todos os direitos reservados.</p>

    <!-- Conteúdo do rodapé, como informações de contato ou links -->
  </div>
</footer>
</body>
